@model EquiposDeFutbol.ViewModels.RoleCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Rol</h1>

<div class="row mt-5">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Nombre del Rol</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

 <button class="btn btn-dark">
    <a asp-action="Index" class="text-light">Volver al listado</a>
    </button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
