@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Admin FIFA</h1>
    <p class="margin-auto">Aplicación para manejar Ligas, Equipos y jugadores de futbol del mundo.</p>
</div>
