@model EquiposDeFutbol.Models.Equipo

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Equipo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label">Pais:</label>
                <input asp-for="Pais" type="text"  class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioFundacion" class="control-label">Año de fundación:</label>
                <input asp-for="AnioFundacion" class="form-control" />
                <span asp-validation-for="AnioFundacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulos" class="control-label">Titulos:</label>
                <input asp-for="Titulos" class="form-control" min="0" />
                <span asp-validation-for="Titulos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadSocios" class="control-label">Cantidad de socios:</label>
                <input asp-for="CantidadSocios" class="form-control" />
                <span asp-validation-for="CantidadSocios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LigaId" class="control-label">Liga:</label>
                <select asp-for="LigaId" class ="form-control" asp-items="ViewBag.LigaId">
                     <option value="">Seleccione una liga</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Equipo" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<button type="button" class="btn btn-dark mb-2 mt-2">
    <a asp-action="Index" class="text-light">Volver al listado</a>
</button>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
