@model EquiposDeFutbol.Models.Equipo

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Equipo</h1>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" type="text"  class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioFundacion" class="control-label"></label>
                <input asp-for="AnioFundacion" class="form-control" />
                <span asp-validation-for="AnioFundacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulos" class="control-label"></label>
                <input asp-for="Titulos" class="form-control" min="0" />
                <span asp-validation-for="Titulos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadSocios" class="control-label"></label>
                <input asp-for="CantidadSocios" class="form-control" />
                <span asp-validation-for="CantidadSocios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
