@using Microsoft.AspNetCore.Identity
@model List<IdentityUser> 

<h3>Usuarios Creados</h3>

<ul>
@foreach (var item in Model)
{
    <li class="font-weight-bolder mt-2">
        @item.UserName - <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-dark">Asignar/Cambiar Rol</button></a>   
    </li>
    
}
</ul>