@model EquiposDeFutbol.Models.Liga

@{
    ViewData["Title"] = "Details";
}

<h1 class="font-weight-bold">Detalle Liga</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-dark">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-light">Editar</a> 

    </button> |
    <button class="btn btn-dark">
    <a asp-action="Index" class="text-light">Back to List</a>
    </button>
</div>
