@model EquiposDeFutbol.ViewModels.JugadorViewModel

@{
    ViewData["Title"] = "Create";
    var equipoList = ViewData["Equipos"] as List<Equipo>;
}

<h1>Create</h1>

<h4>Jugador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquiposIds" class="control-label">Equipos</label>
                @if (equipoList != null && equipoList.Count > 0)
                {
                    foreach (var equipo in equipoList)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Equipo_@equipo.Id" name="EquiposIds" value="@equipo.Id">
                            <label class="form-check-label" for="Equipo_@equipo.Id">
                                @equipo.Nombre
                            </label>
                        </div>
                    }
                }
                else
                {
                    <p>No hay equipos disponibles.</p>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}