@model EquiposDeFutbol.Models.Jugador

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Jugador</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JugadorId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <button class="btn btn-dark">
        <a asp-action="Index" class="text-light">Volver</a>
        </button>
    </form>
</div>
